---
import "../../src/styles/global.css";
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
import Profile from "../components/general/AboutMe.astro";
import Tecnologies from "../components/general/Tecnologies.astro";
import Projects from "../components/general/Projects.astro";
import SectionContainer from "../components/general/SectionContainer.astro";
import Contact from "../components/general/Contact.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>
      Desarrolador de aplicaciones web, creando experiencias unicas,divertidas y
      eficaces
    </title>
  </head>

  <body
    class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
  >
    <SectionContainer id="header" fullWidth={true} color="dark">
      <Header />
    </SectionContainer>

    <SectionContainer id="perfil" color="light">
      <Profile />
    </SectionContainer>

    <SectionContainer id="tecnologias" color="dark">
      <Tecnologies />
    </SectionContainer>

    <SectionContainer id="proyectos" color="primary">
      <Projects />
    </SectionContainer>

    <SectionContainer id="contacto" color="dark">
      <Contact />
    </SectionContainer>

    <SectionContainer id="footer" fullWidth={true} color="dark" className="py-8">
      <Footer />
    </SectionContainer>
  </body>
</html>
