@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta modo claro */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-accent-primary: #4f46e5; 
  --color-accent-secondary: #0ea5e9; 
  --color-border: #e5e7eb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dark {
  /* Paleta modo oscuro */
  --color-bg-primary: #0d0950; 
  --color-bg-secondary: #1e1b4b; 
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-accent-primary: #818cf8; 
  --color-accent-secondary: #38bdf8; 
  --color-border: #312e81; 
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: var(--color-text-primary);
}
