---
import GitHubIcon from "../../assets/Icons/GitHubIcon.astro";
import LinkedInIcon from "../../assets/Icons/LinkedInIcon.astro";
const actualYear = new Date().getFullYear();
---

<footer class="w-full bg-gray-900/90 backdrop-blur-sm border-t border-gray-800 mt-auto">
  <div class="mx-auto max-w-screen-xl px-4 py-6">
    <div class="flex flex-col items-center justify-between gap-2 sm:flex-row">
      <div class="flex items-center gap-2 text-teal-600">
        <a href="https://linkedin.com/in/daniel-gil-dev" class="transition hover:text-teal-500">
          <LinkedInIcon class:list={"size-10"} />
        </a>
        <a href="https://github.com/danielgil-dev" class="transition hover:text-teal-500">
          <GitHubIcon class:list={"size-10"} />
        </a>
      </div>
      
      <p class="text-md text-gray-500">
        Copyright &copy; {actualYear}
      </p>
      
    </div>
  </div>
</footer>