---
const {id} = Astro.props
---

<div>
  <h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold mb-6 sm:mb-10 text-center text-indigo-900 dark:text-white">Formación y Trayectoria</h2>
  
  <div class="max-w-4xl mx-auto">
  
    <ol class="relative border-s-2 border-indigo-500/30 dark:border-indigo-400/30 ms-3 sm:ms-6 space-y-10">
        <li class="mb-10 ms-6 group">
            <span class="absolute flex items-center justify-center w-8 h-8 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 bg-indigo-600 dark:bg-indigo-700 group-hover:bg-indigo-700 dark:group-hover:bg-indigo-600 transition-colors duration-300">
                <svg class="w-3.5 h-3.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M9.092 18h-.035a.474.474 0 0 1-.382-.218c-.384-.485-3.925-4.916-4.35-5.474A7.272 7.272 0 0 1 3 8.275c0-3.855 3.122-6.989 6.957-6.989s6.957 3.134 6.957 6.989a7.272 7.272 0 0 1-1.325 4.033c-.425.558-3.966 4.989-4.35 5.474a.474.474 0 0 1-.382.218ZM10 6.5a1.5 1.5 0 1 0 .001 3.001A1.5 1.5 0 0 0 10 6.5Z"/>
                </svg>
            </span>
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg border border-gray-200 dark:border-gray-700 shadow-md transform transition duration-300 hover:-translate-y-1 hover:shadow-indigo-900/20 hover:shadow-lg">
                <h3 class="flex items-center text-xl font-semibold text-gray-900 dark:text-white">
                    IES Doctor Balmis
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900 dark:text-indigo-300 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">Graduado</span>
                </h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">Sept. 2023 - Junio 2025</time>
                <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400">Ciclo formativo de grado superior de Desarrollo de Aplicaciones Web</p>
                <ul class="space-y-1 text-gray-600 dark:text-gray-400 list-disc list-inside">
                    <li>Desarrollo de aplicaciones frontend con Angular, JavaScript y TypeScript</li>
                    <li>Implementación de backends escalables con Spring Boot</li>
                    <li>Proyecto destacado: <a href="https://github.com/danielgil-dev/ecolink-backend-daniel" class="text-indigo-600 dark:text-indigo-400">EcoLink</a> - Proyecto final de grado </li>
                </ul>
                <div class="flex flex-wrap gap-2 mt-4">
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Bootstrap</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Angular</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Figma</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Sass</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">C#</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">PHP</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">JavaScript</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Spring Boot</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Docker</span>
                </div>
            </div>
        </li>
        
        <li class="mb-10 ms-6 group">
            <span class="absolute flex items-center justify-center w-8 h-8 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 bg-indigo-600 dark:bg-indigo-700 group-hover:bg-indigo-700 dark:group-hover:bg-indigo-600 transition-colors duration-300">
                <svg class="w-3.5 h-3.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M19.728 10.686c-2.38 2.256-6.153 3.381-9.875 3.381-3.722 0-7.4-1.126-9.571-3.371L0 10.437V18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-7.6l-.272.286Z"/>
                    <path d="m.135 7.847 1.542 1.417c3.6 3.712 12.747 3.7 16.635.01L19.605 7.9A.98.98 0 0 1 20 7.652V6a2 2 0 0 0-2-2h-3V3a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v1H2a2 2 0 0 0-2 2v1.765c.047.024.092.051.135.082ZM10 10.25a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5ZM7 3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1H7V3Z"/>
                </svg>
            </span>
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg border border-gray-200 dark:border-gray-700 shadow-md transform transition duration-300 hover:-translate-y-1 hover:shadow-indigo-900/20 hover:shadow-lg">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">NTTDATA</h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">Marzo 2025 - Julio 2025</time>
                <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400">Prácticas profesionales en las oficinas de NTTDATA</p>
                <ul class="space-y-1 text-gray-600 dark:text-gray-400 list-disc list-inside">
                    <li>Desarrollo de aplicaciones con Microsoft Power Platform (Power Automate, Power Canvas)</li>
                    <li>Análisis de datos y creación de dashboards con Power BI</li>
                    <li>Colaboración en equipos multidisciplinares y trabajo con cliente final</li>
                </ul>
                <div class="flex flex-wrap gap-2 mt-4">
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Power Apps</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Power BI</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Power Automate</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Low Code</span>
                </div>
            </div>
        </li>
        
        <li class="mb-10 ms-6 group">
            <span class="absolute flex items-center justify-center w-8 h-8 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 bg-indigo-600 dark:bg-indigo-700 group-hover:bg-indigo-700 dark:group-hover:bg-indigo-600 transition-colors duration-300">
                <svg class="w-3.5 h-3.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                </svg>
            </span>
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg border border-gray-200 dark:border-gray-700 shadow-md transform transition duration-300 hover:-translate-y-1 hover:shadow-indigo-900/20 hover:shadow-lg">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Formación Autodidacta
                </h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">2022 - Presente</time>
                <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400">Continúo formándome como desarrollador web con las diferentes tecnologías del mercado</p>
                <ul class="space-y-1 text-gray-600 dark:text-gray-400 list-disc list-inside">
                    <li>Cursos de Angular, Spring Boot y diseño web responsive en Udemy</li>
                    <li>
                      <span class="inline-flex items-center">
                        Formación técnica y profesional a través de 
                        <span class="text-green-500 font-semibold ml-1">Platzi</span>, mi principal fuente de aprendizaje
                      </span>
                    </li>
                    <li>Aprendizaje en desarrollo web fullstack a través de documentación oficial</li>
                </ul>
                <div class="flex flex-wrap gap-2 mt-4">
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">React</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Astro</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">n8n</span>
                    <span class="bg-indigo-100 text-indigo-800 dark:bg-indigo-900/30 dark:text-indigo-300 text-xs font-medium px-2.5 py-0.5 rounded border border-indigo-200 dark:border-indigo-800/50">Git</span>
                    <span class="bg-green-100 text-green-800 dark:bg-green-900/30 dark:text-green-300 text-xs font-medium px-2.5 py-0.5 rounded border border-green-200 dark:border-green-800/50">Platzi</span>
                </div>
            </div>
        </li>
        
        <li class="ms-6 group">
            <span class="absolute flex items-center justify-center w-8 h-8 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 bg-indigo-600 dark:bg-indigo-700 group-hover:bg-indigo-700 dark:group-hover:bg-indigo-600 transition-colors duration-300">
                <svg class="w-3.5 h-3.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                    <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                    <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
                </svg>
            </span>
            <div class="p-4 bg-white dark:bg-gray-800 rounded-lg border border-gray-200 dark:border-gray-700 shadow-md transform transition duration-300 hover:-translate-y-1 hover:shadow-indigo-900/20 hover:shadow-lg">
                <h3 class="flex items-center text-xl font-semibold text-gray-900 dark:text-white">
                    IES San Vicente
                    <span class="bg-emerald-100 text-emerald-800 dark:bg-emerald-900 dark:text-emerald-300 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">Próximamente</span>
                </h3>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-500 dark:text-gray-400">Septiembre 2025 - Agosto 2026</time>
                <p class="mb-4 text-base font-normal text-gray-600 dark:text-gray-400">Curso de especialización en Inteligencia Artificial y Big Data</p>
                <ul class="space-y-1 text-gray-600 dark:text-gray-400 list-disc list-inside">
                    <li>Análisis de datos masivos y técnicas de procesamiento distribuido</li>
                    <li>Desarrollo de modelos de IA y aprendizaje automático</li>
                    <li>Implementación de soluciones de análisis predictivo y visualización avanzada</li>
                </ul>
                <div class="flex flex-wrap gap-2 mt-4">
                    <span class="bg-emerald-100 text-emerald-800 dark:bg-emerald-900/30 dark:text-emerald-300 text-xs font-medium px-2.5 py-0.5 rounded border border-emerald-200 dark:border-emerald-800/50">Python</span>
                    <span class="bg-emerald-100 text-emerald-800 dark:bg-emerald-900/30 dark:text-emerald-300 text-xs font-medium px-2.5 py-0.5 rounded border border-emerald-200 dark:border-emerald-800/50">Machine Learning</span>
                    <span class="bg-emerald-100 text-emerald-800 dark:bg-emerald-900/30 dark:text-emerald-300 text-xs font-medium px-2.5 py-0.5 rounded border border-emerald-200 dark:border-emerald-800/50">Big Data</span>
                </div>
            </div>
        </li>
    </ol>
  </div>
</div>
