---
import GitHubIcon from "../../assets/Icons/GitHubIcon.astro";
import LinkedInIcon from "../../assets/Icons/LinkedInIcon.astro";
---

<footer class="w-full bg-gray-900/90 backdrop-blur-sm border-t border-gray-800 mt-auto">
  <div class="mx-auto max-w-screen-xl px-4 py-6">
    <div class="flex flex-col items-center justify-between gap-2 sm:flex-row">
      <div class="flex items-center gap-2 text-teal-600">
        <a href="https://linkedin.com/in/daniel-gil-dev" class="transition hover:text-teal-500">
          <LinkedInIcon class:list={"size-10"} />
        </a>
        <a href="https://github.com/danielgil-dev" class="transition hover:text-teal-500">
          <GitHubIcon class:list={"size-10"} />
        </a>
      </div>
      
      <p class="text-md text-gray-500">
        Copyright &copy; 2025
      </p>
      
      <a
        class="rounded-full animate-bounce bg-teal-600 p-1 text-white transition hover:bg-teal-500"
        href="#"
        aria-label="Back to top"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-8 "
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  </div>
</footer>