---
import AngularIcon from "../../assets/Icons/AngularIcon.astro";
import SpringBootIcon from "../../assets/Icons/SpringBootIcon.astro";
import JavaScripIcon from "../../assets/Icons/JavaScriptIcon.astro";
import GitIcon from "../../assets/Icons/GitIcon.astro";

const classList = "h-auto max-w-full rounded-lg size-40 py-3 m-0.5";
---
<h1 class="text-5xl font-extrabold py-2 m-2 text-center text-white">Tecnologías</h1>
<div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
  <button
    type="button"
    class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800"
    >All categories</button
  >
  <button
    type="button"
    class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >Front-End</button
  >
  <button
    type="button"
    class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >Back-end</button
  >
  <button
    type="button"
    class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800"
    >Tools</button
  >
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <AngularIcon class:list={classList} />
  <SpringBootIcon class:list={classList} />
  <JavaScripIcon class:list={classList} />
  <GitIcon class:list={classList}></GitIcon>
</div>
